#upload-button {
    color: @red_3;
}

#mkdir-button {
    color: @green_5;
}

.expander {
	  font-weight: 400;
	  border: 2px solid transparent;
	  border-color: #c6c4e7;
	  color: #375a7f;
	  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

